<!DOCTYPE html>
<html>
<head>
	<style>
		body{
			--card_size: 10%;
			--card_num: 1;
		}
		
		/*.grid-container {
			display: grid;
			grid-template-columns: repeat({{lens[0]}}, var(--card_size));
			min-width: 100%;
			position: absolute;
			bottom: 0;
			margin-left: calc(50% - {{lens[0]}} * var(--card_size) / 2);
		}
		
		.grid-item>img{
			width: 100%;
			height: 100%;
		}
		
		.grid-item {
			text-align: center;
			width: 100%;
			height: 100%;
		}*/
		
		.other-player {
			display: grid;
			grid-template-columns: repeat({{lens[1]}}, var(--card_size));
			min-width: 100%;
			position: fixed;
			top: 0;
			margin-left: calc(50% - {{lens[1]}} * var(--card_size) / 2);
		}
		
		.opponent-item>img{
			width: 100%;
			height: 100%;
			transform: rotate(180deg);
		}
		
		.opponent-item {
			text-align: center;
			width: 100%;
			height: 100%;
		}
/*
<div class="other-player">
	{% for item in players[1].hand %}
	<div class="opponent-item"><img src={{ images["card_back"] }} alt"test"></div>
	{% endfor %}
</div>

<div class="grid-container">
	{% for item in players[0].hand %}
	<div class="grid-item"><img  src={{ images[item] }} alt="test"></div>
	{% endfor %}
	
	images[players[0].hand[{{ item }}]]
</div>



players[0].hand


 "alt= width="100" height="200"
		*/
		
		.grid-buttons {
			display: grid;
			grid-template-columns: repeat({{lens[0]}}, var(--card_size));
			position: absolute;
			bottom: 0;
			padding-left: calc(57% - {{lens[0]}} * var(--card_size) / 2);
		}
		
		.grid-item>img{
			width: 100%;
			height: 100%;
		}
		
		.grid-item {
			text-align: center;
			width: 100%;
			height: 100%;
		}
		.grid-button {
			grid-row-start: var(--card_num);
			grid-row-end: calc( var(--card_num) + 1 );		
		}
		
		
		
	</style>
</head>

<body>


<div class="other-player">
	{% for item in players[1].hand %}
		<div class="opponent-item"><img src={{ images["card_back"] }} alt"test"></div>
	{% endfor %}
</div>
<div class="grid-buttons">
	{% for item in range(0, lens[0]) %}
        <input type="image" src={{ images[players[0].hand[item]] }} style="width: 100%" />

	{% endfor %}
	<!<button class="grid-buttons" onclick="test_function();" ><! Try it</button>
	
	{% for item in range(0, lens[0]) %}
        <button class="grid-button" onclick={{ button_functions[players[0].hand[item]] }} id={{item}}>Try it</button>

	{% endfor %}
	
		

</div>

{% block script %}

<script>
	
	function diffuse_pressed(clicked_id){
		var entry = {
			name: "diffuse",
			val: clicked_id
		};
		//console.log(entry);
		fetch(`${window.origin}/list`, {
			method: "POST",
			credentials: "include",
			body: JSON.stringify(entry),
			cache: "no-cache",
			headers: new Headers({
				"content-type": "application/json"
			})
		})
		
	}
	function nope_pressed(clicked_id){
		var entry = {
			name: "nope",
			val: clicked_id
		};
		//console.log(entry);
		fetch(`${window.origin}/list`, {
			method: "POST",
			credentials: "include",
			body: JSON.stringify(entry),
			cache: "no-cache",
			headers: new Headers({
				"content-type": "application/json"
			})
		})
		
	}
	function attack_pressed(clicked_id){
			var entry = {
				name: "attack",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function favor_pressed(clicked_id){
			var entry = {
				name: "favor",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function see_the_future_pressed(clicked_id){
			var entry = {
				name: "see_the_future",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function skip_pressed(clicked_id){
			var entry = {
				name: "skip",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function shuffle_pressed(clicked_id){
			var entry = {
				name: "shuffle",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function cattermelon_pressed(clicked_id){
			var entry = {
				name: "cattermelon",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function beard_cat_pressed(clicked_id){
			var entry = {
				name: "beardcat",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function rainbow_ralphing_cat_pressed(clicked_id){
			var entry = {
				name: "rainbow-ralphing cat",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function tacocat_pressed(clicked_id){
			var entry = {
				name: "tacocat",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function hairy_potato_cat_pressed(clicked_id){
			var entry = {
				name: "hairy potato cat",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function exploding_kitten_pressed(clicked_id){
			var entry = {
				name: "exploding kitten",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function highlight_diffuse_pressed(clicked_id){
			var entry = {
				name: "highlight diffuse",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function highlight_nope_pressed(clicked_id){
			var entry = {
				name: "highlight nope",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function highlight_attack_pressed(clicked_id){
			var entry = {
				name: "highlight attack",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function highlight_favor_pressed(clicked_id){
			var entry = {
				name: "highlight favor",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function highlight_see_the_future_pressed(clicked_id){
			var entry = {
				name: "highlight see the future",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function highlight_skip_pressed(clicked_id){
			var entry = {
				name: "highlight skip",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function highlight_shuffle_pressed(clicked_id){
			var entry = {
				name: "highlight shuffle",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function highlight_cattermelon_pressed(clicked_id){
			var entry = {
				name: "highlight cattermelon",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function highlight_beard_cat_pressed(clicked_id){
			var entry = {
				name: "highlight beard cat",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function highlight_rainbow_ralphing_cat_pressed(clicked_id){
			var entry = {
				name: "highlight rainbow-ralphing cat",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function highlight_tacocat_pressed(clicked_id){
			var entry = {
				name: "highlight tacocat",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function highlight_exploding_kitten_pressed(clicked_id){
			var entry = {
				name: "highlight exploding kitten",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	function highlight_hairy_potato_cat_pressed(clicked_id){
			var entry = {
				name: "highlight hairy potato cat",
				val: clicked_id
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
</script>


{% endblock %}


</body>
</html>
