<!DOCTYPE html>
<html>
<head>
	<style>
		body{
			--card_size: 10%;
			--card_num: 1;
		}
		
		/*.grid-container {
			display: grid;
			grid-template-columns: repeat({{lens[0]}}, var(--card_size));
			min-width: 100%;
			position: absolute;
			bottom: 0;
			margin-left: calc(50% - {{lens[0]}} * var(--card_size) / 2);
		}
		
		.grid-item>img{
			width: 100%;
			height: 100%;
		}
		
		.grid-item {
			text-align: center;
			width: 100%;
			height: 100%;
		}*/
		
		.other-player {
			display: grid;
			grid-template-columns: repeat({{lens[1]}}, var(--card_size));
			min-width: 100%;
			position: fixed;
			top: 0;
			margin-left: calc(50% - {{lens[1]}} * var(--card_size) / 2);
		}
		
		.opponent-item>img{
			width: 100%;
			height: 100%;
			transform: rotate(180deg);
		}
		
		.opponent-item {
			text-align: center;
			width: 100%;
			height: 100%;
		}
/*
<div class="other-player">
	{% for item in players[1].hand %}
	<div class="opponent-item"><img src={{ images["card_back"] }} alt"test"></div>
	{% endfor %}
</div>

<div class="grid-container">
	{% for item in players[0].hand %}
	<div class="grid-item"><img  src={{ images[item] }} alt="test"></div>
	{% endfor %}
	
	images[players[0].hand[{{ item }}]]
</div>



players[0].hand


 "alt= width="100" height="200"
		*/
		
		.grid-buttons {
			display: grid;
			grid-template-columns: repeat({{lens[0]}}, var(--card_size));
			position: absolute;
			bottom: 0;
			padding-left: calc(57% - {{lens[0]}} * var(--card_size) / 2);
		}
		
		.grid-item>img{
			width: 100%;
			height: 100%;
		}
		
		.grid-item {
			text-align: center;
			width: 100%;
			height: 100%;
		}
		.grid-button {
			grid-row-start: var(--card_num);
			grid-row-end: calc( var(--card_num) + 1 );		
		}
		
		
		
	</style>
</head>

<body>


<div class="other-player">
	{% for item in players[1].hand %}
		<div class="opponent-item"><img src={{ images["card_back"] }} alt"test"></div>
	{% endfor %}
</div>
<div class="grid-buttons">
	{% for item in range(0, lens[0]) %}
        <input type="image" src={{ images[players[0].hand[item]] }} style="width: 100%" />
		<! <button class="grid-buttons" onclick="test_function();"> <! Try it</button>

	{% endfor %}
	<!<button class="grid-buttons" onclick="test_function();" ><! Try it</button>
	
	{% for item in range(0, lens[0]) %}
        <button class="grid-button" onclick="test_function();" id="abc">Try it</button>

	{% endfor %}
	
		

</div>

{% block script %}

<script>

	/*function test_function(){
		var entry = {
			name: ddocument.getElementById("grid-button")
		};
		fetch(`${window.origin}/list`, {
			method: "POST",
			credentials: "include",
			body: JSON.stringify(entry),
			cache: "no-cache",
			headers: new Headers({
				"content-type": "application/json"
			})
		})
		
	}*/
	
	diffuse_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	nope_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	attack_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	favor_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	see_the_future_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	skip_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	shuffle_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	cattermelon_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	beard_cat_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	rainbow_ralphing_cat_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	tacocat_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	hairy_potato_cat_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	highlight_diffuse_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	highlight_nope_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	highlight_attack_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	highlight_favor_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	highlight_see_the_future_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	highlight_skip_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	highlight_shuffle_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	highlight_cattermelon_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	highlight_beard_cat_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	highlight_rainbow_ralphing_cat_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	highlight_tacocat_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	highlight_exploding_kitten_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
	highlight_hairy_potato_cat_pressed(){
			var entry = {
				name: document.getElementById("grid-button")
			};
			//console.log(entry);
			fetch(`${window.origin}/list`, {
				method: "POST",
				credentials: "include",
				body: JSON.stringify(entry),
				cache: "no-cache",
				headers: new Headers({
					"content-type": "application/json"
				})
			})
			
		}
</script>


{% endblock %}


</body>
</html>
